.projectsTitleContainer {
  position: relative;
  font-size: var(--title-desktop);
  font-weight: 500;
  margin-left: 6rem;
}

.projectsTitleFlex {
  display: flex;
  align-items: center; /* Align items vertically */
  justify-content: space-between; /* Space between the title and the filter button */
  width: 100%; /* Take full width of the container */
}

.numberBehind {
  position: absolute;
  z-index: -1;
  top: -13rem;
  left: 20rem;
  font-size: 20rem;
  font-weight: 700;
  color: var(--lower-opacity-color);
}

.contactNote {
  font-size: var(--text-desktop);
  font-weight: 300;
  display: flex;
  width: 25rem;
  margin-top: 0.5rem;
}

.project {
  margin-bottom: 2rem;
}

.projectList {
  display: flex;
  width: calc(100% - 10rem);
  margin: 0 5rem;
  height: 100vh;
  overflow-x: hidden;
}

.summaryContainer {
  width: 45%;
  overflow-y: auto;
  flex-direction: column;
  padding-right: 1rem;
  -ms-overflow-style: none;
  scrollbar-width: none;
  scroll-behavior: smooth;
}

.summaryContainer::-webkit-scrollbar {
  display: none;
}

.projectsRightSide {
  width: 30%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 2rem;
}

.projectImage {
  width: 45rem;
  height: 40rem;
  object-fit: cover;
}

/* Tablet screens */
@media (max-width: 1660px) {
  .projectsTitleContainer {
    font-size: var(--title-tablet);
    margin-left: 2rem;
  }

  .numberBehind {
    display: none;
  }

  .contactNote {
    font-size: var(--text-tablet);
    width: 20rem;
  }

  .projectImage {
    overflow-x: hidden;
    max-width: 100%;
  }

  .projectList,
  .summaryContainer,
  .projectsRightSide {
    width: auto;
  }
}

/* Smaller tablet screens */
@media (max-width: 1230px) {
  .projectsTitleContainer {
    margin-left: 1.5rem;
  }

  .numberBehind {
    display: none;
  }

  .projectImage {
    width: 50rem;
    height: 28rem;
  }

  .summaryContainer,
  .projectsRightSide {
    padding: 0;
    width: 100%;
  }
}

/* Phone screens TO ADD FONT SIZE LARGER UNTIL 485*/
@media (max-width: 1060px) {
  .projectsContainer {
    display: flex;
    flex-direction: column;
  }

  .summaryContainer {
    order: 1;
  }

  .projectList {
    order: 2;
    flex-direction: column;
    height: auto;
    overflow-y: auto;
    margin: 0.5rem;
  }

  .projectsTitleContainer {
    position: static;
    font-size: var(--title-tablet);
    margin: 2rem 0;
  }

  .numberBehind {
    display: none;
  }

  .contactNote {
    flex-direction: column;
    margin-bottom: 1rem;
  }

  .summaryContainer,
  .projectsRightSide {
    width: 100%;
  }

  .projectsRightSide {
    margin-top: 3rem;
  }

  .project {
    margin-bottom: 0.5rem;
  }

  .projectImage {
    width: 100%;
    height: auto;
  }
}

@media (max-width: 575px) {
  .projectsTitleContainer {
    position: static;
    font-size: var(--title-phone);
    margin: 2rem 0;
  }
}
