.projectList {
  display: flex;
  width: calc(100% - 10rem);
  margin: 0 5rem;
  height: 100vh;
  overflow-x: hidden;
}

.summaryContainer {
  width: 45%;
  overflow-y: auto;
  flex-direction: column;
  padding-right: 1rem;
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.summaryContainer::-webkit-scrollbar {
  display: none;
}

.projectsRightSide {
  width: 30%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 2rem;
}

.projectsTitle {
  font-size: 128px;
  margin-left: 6rem; 
}

.projectImage {
  width: 70rem;
  height: 40rem;
  object-fit: cover;
}

.filterMenu {
  position: relative;
  display: inline-block;
}

.filterButton, .filterDropdown {
  cursor: pointer;
}

/* Use dark mode color by default, as per the corrected theme setup */
.filterDropdown {
  display: none;
  position: absolute;
  background-color: var(--lower-opacity-color-dark); /* Dark mode background color */
  min-width: 120px; /* Adjusted to make the dropdown smaller */
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
  font-size: 14px; /* Smaller text size for the dropdown items */
}

/* Switch to light mode colors when light mode is preferred */
@media (prefers-color-scheme: light) {
  .filterDropdown {
    background-color: var(--lower-opacity-color-light); /* Light mode background color */
  }
}

.filterDropdown a {
  color: black; /* Consider adjusting this color to improve contrast based on the theme */
  padding: 8px 12px; /* Smaller padding for a more compact layout */
  text-decoration: none;
  display: block;
}

.filterDropdown a:hover {
  background-color: #f1f1f1; /* Hover background color for dropdown items */
}

.show {
  display: block; /* Shows the dropdown menu when the filter button is clicked */
}
