.navContainer {
  display: flex;
  position: fixed;
  top: 0;
  left: 40%;
  width: auto;
  z-index: 1000;
  padding: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  background-color: var(--lower-opacity-color); /* Use the CSS variable */
  margin-top: 1rem;
  border-radius: 65px;
}

.navList {
  list-style: none;
  display: flex;
  gap: 25px;
  padding: 0;
  margin: 0;
  align-items: center;
}

.linkContainer {
  padding: 5px 10px;
  text-decoration: none;
  color: var(--text-color); 
  display: block;
}
